<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/lib/spring-context-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring-core-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring-web-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/lib/spring-webmvc-5.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>